{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
        <div class="media-body">
            <p class="article-content">{{ username }} </p>
            <p class="article-content">email_val: {{ email }} </p>
            <p class="article-content">Username is: {{ details['username'] }} </p>
            <p class="article-content">Name is: {{ details['name'] }} </p>
            <p class="article-content">Surname is: {{ details['surname'] }} </p>
            <p class="article-content">Email is: {{ details['email'] }} </p>
            <p class="article-content">Password is: {{ details['psw'] }}</p>
            <p class="article-content">Password_repeat is: {{ details['psw-repeat'] }} </p>
            <p class="article-content">Bio is: {{ details['bio'] }} </p>
            <p class="article-content">Errors:</p>
            {% for error in errors %}
            <p class="article-content">{{ error }} </p> 
            {% endfor %}
        </div>
    </article>
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today!</legend>
                <div class="form-group">
                    <p>Username must be alphanumeric beginning with a letter and 2-50 characters long.</p>
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter username" name="username" value="{{ details['username'] }}"
                    autocomplete="off">
                </div>
                <div class="form-group">
                    <p>Name must be begin with a Capital letter and 2-25 characters long. Containing only: letters, spaces and/or dashes.</p>
                    <label for="name"><b>Name</b></label>
                    <input type="text" placeholder="Enter name" name="name" value="{{ details['name'] }}"
                    autocomplete="off">
                </div>
                <div class="form-group">
                    <p>Surname must be begin with a Capital letter and 2-25 characters long. Containing only: letters, spaces and/or dashes.</p>
                    <label for="surname"><b>Surname</b></label>
                    <input type="text" placeholder="Enter surname" name="surname" value="{{ details['surname'] }}"
                    autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" value="{{ details['email'] }}"
                    
                    >
                </div>
                <div class="form-group">
                    <p>Password must be alphanumeric and 6-64 characters long, Containing: an Uppercase, a Lowercase, a digit.</p>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" value="{{ details['psw'] }}"
                    
                    >
                </div>
                <div class="form-group">
                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input type="password" placeholder="Repeat Password" name="psw-repeat" value="{{ details['psw'] }}"
                    
                    >
                </div>
                <div class="form-group">
                    <label for="bio"><b>Bio</b></label>
                    <textarea rows="10" cols="50" placeholder="Enter bio" name="bio" value="{{ details['bio'] }}">{{ details['bio'] }}</textarea>
                </div>
            </fieldset>
            <div class="form-group">
            <button type="submit" class="registerbtn">Register</button>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{url_for('login') }}">Sign in</a>
        </small>
    </div>
{% endblock content %}